

.CategoryButton{
    background-color: grey;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

h2{
    font-size: 30px;
    margin-bottom: 1.5rem;
}

@media(min-width: 800px) {
#category_list_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
}

@media(max-width: 800px) {
#category_list_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
}