header span{
    color: red;
    transform: scaleX(-1);
    display: inline-block;
}

header #logo{
    font-size: 48px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

header div a{
    text-decoration: underline;
}

#logo:hover{
 cursor: pointer;
}

@media(min-width: 800px) {

.flexends{
    display: flex;
    justify-content:space-between;
}
}

@media(max-width: 800px) {

.flexends{
    text-align: center;
}
}