header span{
    color: red;
    transform: scaleX(-1);
    display: inline-block;
}

header h1{
    font-size: 48px;
}

header a{
    text-decoration: underline;
}

@media(min-width: 800px) {

.flexends{
    display: flex;
    justify-content:space-between;
}
}

@media(max-width: 800px) {

.flexends{
    text-align: center;
}
}