.BigProductCard{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.BigProductCard img{
    max-width: 100%;
    display: block;
    margin: auto;
}

/* Anden kolonne */

.Column2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-right: 1rem;
}

.Column2 h1{
    font-size: 36px;
    margin-bottom: 25px;
}

dd{
    margin-left: 20px;
}

dt{
    font-weight: bold;
    margin: 0.5rem 0;
}

/* Tredje kollone */

.Column3{
   background-color:rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.Column3 h1{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.Column3 p, .Column3 label{
    color: white;
}

.descriptor{
    padding: 2rem 1rem;
    line-height: 2.5rem;
}

form{
 margin: 0 1rem 3rem 1rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

label{
    font-size: 14px;
}

select{
    background-color: whitesmoke;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
}

input{
    background-color: whitesmoke;
    border: none;
    padding: 0.5rem 0;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
    grid-column-start: span 2;
}